@import url('https://fonts.googleapis.com/css2?family=Lato&family=Playfair+Display:ital,wght@0,400;0,500;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Quicksand:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;700&display=swap');
body{
    margin:0;
    padding:0;
    height:100vh;
    display:flex;
    align-items: center;
    flex-direction: column;
    gap:.8em;
    font-size: clamp(.9rem, 2.5vw, 2rem);
    
  }

*,
*::before,
*::after {
 box-sizing: border-box;
}

h1,p{
    margin: 0;
    font-family: 'Playfair Display', serif;
}

.caution{
    position: absolute;
    font-size: .5rem;
    top: 2rem;
    right: 2rem;
    transform: rotate(25deg);
}

header{
    display: flex;
    justify-content: center;
    padding-block: 1em;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    width: 100vw;

}

.sub-heading{
    transform: rotate(-15deg) translateY(15px);
}


  .grid-container{
      display: grid;
      
      margin-top: .2em;
      margin-bottom: .5em;
      place-items: center;
      gap:.5em;
      width: min(70%,500px);
    
  }
  
  .letters{
    display:flex;
    gap:.5em;
  }
  
  .block{
      display: grid;
      place-items: center;
    border: 2px solid rgba(0,0,0,0.3);
    font-size: 2rem;
    font-family:'Lato', sans-serif ;
    height: clamp(50px,5vw,100px);
    width: clamp(50px,5vw,100px);
    transition: all 500ms ease-in-out;
  }
  
  .container{
      display: flex;
      justify-content: center;
      text-align: center;
      width: 100vw;
  }
  
  
  .keyboard{
    display:flex;
    flex-direction: column;
    text-align: center;
    padding-bottom:em;
    gap:clamp(1rem, 2.5vw, 2.8rem);
    
  }
  
  .key{
    display: grid;
    place-items: center;
    background:rgb(255, 145, 56);
    font-size: .9rem;
    font-family: 'Lato', sans-serif;
    height: clamp(40px,5vw,75px);
    width: clamp(30px,5vw,55px);
    border-radius: 7px;
    cursor:pointer;
    transform-origin: center;
    transition: all 300ms ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    
  }

  .flex-item{
    display: flex;
    gap: .3rem;
  }

  .two{
    margin: auto;
  }

  .three{
    margin:auto;
  }

.control{
    display: flex;
    gap: .4rem;
    margin-inline: auto;
    
}

  .enter{
    grid-row:4;
    padding: .5rem;
    background:none;
    border: none;
    padding:.5rem 2rem;
    cursor:pointer;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    background:rgb(67, 197, 67);}

    .return{
        background:none;
        border: none;
        background:rgb(255, 1, 1);
        color: white;
        cursor: pointer;
        padding:.5rem 2rem;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
        
    }
    
  .wrong{
      background: rgba(0,0,0,0.4);
      color: white;
      font-weight: 600;
  }
  
  .orange{
      background: orange;
      color: white;
      font-weight: 600;
  }
  
  .green{
      background: rgb(13, 185, 13);
      color: white;
      font-weight: 600;
  }

  .result-container{
    box-sizing: border-box;
      position: fixed;
      display: grid;
      place-items: center;
      font-size: 2vw;
      padding: 1rem;
      background-color: white;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      inset: 10% 10% 10% 10%;
      z-index: 100;
      visibility: hidden;
      
  }

 

  .result-box{
    display: grid;
    width: 100%;
    height: 100%;
  
    margin-top: .5em;
    font-family: 'Quicksand', sans-serif;
    font-size: 1rem;
    gap: .4em;
  }

  .show-result{
    position: absolute;
    
    top: 1.7em;
    left: 1.5em;
    cursor: pointer;
  }
  #definition{
    font-size: 1.1rem;
    color: white;
    background: teal;
    padding: .6rem;
    border-radius:4px;
    text-align: center;
    cursor: pointer;
    margin-top: 2em;
    
  }
a{
  text-decoration: none;
  font-size: 1rem;
  color:white;
  transition: all 100ms ease-in-out;
}



a:hover{
  color:rgb(0, 14, 14);
  background: white;
}
 .share{
   place-self: center;
   display: grid;
   
  
 }

 .alert{
   position: fixed;
   top:0;
   color: white;
   padding: 1em;
   background-color: green;
   width: 100vw;
   text-align: center;
   visibility: hidden;
 }

 #share-btn{
   background: rgb(89, 196, 27);
   border: none;
   border-radius: .5rem;
   color: white;
   font-weight: bold;
   font-size: .8rem;
   padding: .5rem 1.5rem;
   cursor: pointer;
 }

 .definition-slider{
   position: absolute;
   color: rgb(255, 255, 255);
   z-index: 200;
   background: rgb(37, 77, 77);
   inset: 4% 4% 10% 4%;
   padding: 1.3em;
   display: flex;
   flex-direction: column;
   gap: 1.5em;
   font-family: 'Lato', sans-serif;
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
   opacity: 0%;
   transform:translateX(150%);
   transition: all 600ms ease-in-out;
 } 

 .slide{
  transform:translateX(0%);
  opacity: 100%;
 }

 
 
 h4{
   font-size: 1.3rem;
 }
.example{
  font-style: italic;
  
}
  .next-wordl{
    text-align: center;
    margin-inline:auto;
    font-size: 1.2rem;
  }

  #result{
    margin: auto;
    font-size: 2rem;
  }
  .time-el{
    display: flex;
    gap: .4rem;
    
  }

  .time{
    padding: .3rem;
    
  }


  .show{
      visibility: visible;
  }

  .closebtn{
    position: absolute;
    top:2em;
    right: 3em;
    cursor: pointer;
    padding: .3rem;
    
  }
  .cross{
    position: absolute;
    height: 3em;
    width: 3px;
    background: black;
    transform: rotate(45deg);
    
  }

  .cross::before{
    content: "";
    position: absolute;
    height: 3em;
    transform: rotate(-90deg);
    width: 3px;
    background: black;
    cursor: pointer;
  }



  #triangle{
    position: absolute;
    right: 1em;
    bottom: 2em;
    cursor: pointer;
    width: 0;
    height: 0;
    border: 15px solid transparent;
    border-top: 0;
    border-bottom: 20px solid white;
    transform: rotate(90deg);
  }
  .stop{
    opacity: 100%;
  }


  @media (min-width:800px){
    .result-container{
      inset: 20%;
    }

    .closebtn{
      top: 1em;
      right: 1;
    }
    .cross{
      height: 1.5em;
      width: 2px;
      
    }
  
    .cross::before{
      height: 1.5em;
      width: 2px;
      
    }
  }

  #debug{
    position: absolute;
    bottom: 1em;
    right:1em;
    padding: .1rem;
    border: none;
    border-bottom: 1px solid red;
    background: none;
  }
  #debug:hover{
    opacity: 80%;
    cursor: pointer;
  }
